In [1]:
import pandas as pd

test_customers_df = pd.read_csv("/Users/dejmen/desktop/ironhack/week8/day1/ecommerce_analysis/data/raw/test/df_Customers.csv")
test_order_items_df = pd.read_csv("/Users/dejmen/desktop/ironhack/week8/day1/ecommerce_analysis/data/raw/test/df_OrderItems.csv")
test_orders_df = pd.read_csv("/Users/dejmen/desktop/ironhack/week8/day1/ecommerce_analysis/data/raw/test/df_Orders.csv")
test_payments_df = pd.read_csv("/Users/dejmen/desktop/ironhack/week8/day1/ecommerce_analysis/data/raw/test/df_Payments.csv")
test_products_df = pd.read_csv("/Users/dejmen/desktop/ironhack/week8/day1/ecommerce_analysis/data/raw/test/df_Products.csv")

train_customers_df = pd.read_csv("/Users/dejmen/desktop/ironhack/week8/day1/ecommerce_analysis/data/raw/train/df_Customers.csv")
train_order_items_df = pd.read_csv("/Users/dejmen/desktop/ironhack/week8/day1/ecommerce_analysis/data/raw/train/df_OrderItems.csv")
train_orders_df = pd.read_csv("/Users/dejmen/desktop/ironhack/week8/day1/ecommerce_analysis/data/raw/train/df_Orders.csv")
train_payments_df = pd.read_csv("/Users/dejmen/desktop/ironhack/week8/day1/ecommerce_analysis/data/raw/train/df_Payments.csv")
train_products_df = pd.read_csv("/Users/dejmen/desktop/ironhack/week8/day1/ecommerce_analysis/data/raw/train/df_Products.csv")

In [2]:
test_customers_df.head()

    customer_id  customer_zip_code_prefix        customer_city customer_state
0  I74lXDOfoqsp                      6020              goiania             GO
1  47TuLHF2s7X5                     23020               viamao             RS
2  dQ0dqI8Qwlj8                     75094             campinas             SP
3  iQCmWhNkIczb                     89284  santana de parnaiba             SP
4  Dp2g6JH8tO5Z                     39810             aripuana             MT

In [3]:
train_customers_df.head()

    customer_id  customer_zip_code_prefix       customer_city customer_state
0  hCT0x9JiGXBQ                     58125     varzea paulista             SP
1  PxA7fv9spyhx                      3112  armacao dos buzios             RJ
2  g3nXeJkGI0Qw                      4119             jandira             SP
3  EOEsCQ6QlpIg                     18212          uberlandia             MG
4  mVz5LO2Vd6cL                     88868            ilhabela             SP

In [5]:
test_customers_df.shape

(38279, 4)

In [7]:
train_customers_df.shape

(89316, 4)

In [10]:
# Merge test + train
merged_customers_df = pd.concat([train_customers_df, test_customers_df], ignore_index=True)
merged_order_items_df = pd.concat([train_order_items_df, test_order_items_df], ignore_index=True)
merged_orders_df = pd.concat([train_orders_df, test_orders_df], ignore_index=True)
merged_payments_df = pd.concat([train_payments_df, test_payments_df], ignore_index=True)
merged_products_df = pd.concat([train_products_df, test_products_df], ignore_index=True)

print("Data Merged:")
print(f"Customers:       {merged_customers_df.shape}")
print(f"Order Items:     {merged_order_items_df.shape}")
print(f"Orders:          {merged_orders_df.shape}")
print(f"Payments:        {merged_payments_df.shape}")
print(f"Products:        {merged_products_df.shape}")

Data Merged:
Customers:       (127595, 4)
Order Items:     (127595, 5)
Orders:          (127595, 7)
Payments:        (127595, 5)
Products:        (127595, 6)